/* admin-style.css */

.wrap {
  max-width: 800px;
  margin: 0 auto;
}

#content-edit {
  background-color: #f1f1f1;
  margin-bottom: 20px;
}

#content-edit label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#content-edit input[type="text"], #content-edit textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

#form-fields .field {
  background-color: #f1f1f1;
  padding: 20px 0;
  margin-bottom: 10px;
}

#form-fields .field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#form-fields .field input[type="text"],
#form-fields .field select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  max-width: 100%;
}

#form-fields .field .delete-field {
  display: block;
  margin-top: 10px;
  float: right;
}

.submit {
  display: block;
  width: 100%;
}

#submit {
  display: block;
  width: 200px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  margin: 20px auto 0; /* Auto centers the button */
  font-size: 1.5em; /* Adjust as needed */
  text-align: center;
}

#email-recipient {
  margin-bottom: 20px;
}

#email-recipient label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #32373c;
  font-size: 13px;
}

#email-recipient input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

#recipient-fields {
  margin-bottom: 20px;
  width: 100%;
}

#recipient-fields label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #32373c;
  font-size: 13px;
}

#recipient-fields select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  max-width: 100%;
}

#recipient-fields select:focus {
  border-color: #007cba;
  box-shadow: 0 0 0 1px #007cba;
  outline: none;
}
